/* Google Font Link  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.body-width {
  margin: auto;
  width: 80%;
  margin-top: 50px;
}
/* Header Style */
.container {
  display: flex;
  /* align-items: center; */
  background-color: #161616;
  color: white;
  border-radius: 30px;
}
.left-header {
  margin-right: 24px;
  margin-left: 56px;
  padding: 50px 0px 50px 50px;
}
.left-header h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 18px;
}
.left-header p {
  font-size: 16px;
  line-height: 1.6;
  width: 70%;
  color: rgba(255, 255, 255, 0.8);
}
.left-header,
.right-header {
  width: 50%;
}
.right-header {
  margin-bottom: -4px;
  margin-top: 33px;
  text-align: center;
}
.right-header img {
  width: 581px;
  height: 613px;
}
.link-button {
  color: white;
  text-decoration: none;
  background-color: #dd0000;
  padding: 16px 25px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 5px;
}
/* .link-button:hover {
  animation: go-backward 3s ease-in-out infinite alternate;
  position: relative;
} */
/* animation */
/* .link-button:hover {
  background-image: linear-gradient(to right, #dd0000, #f2d535);
} */
@keyframes go-backward {
  0% {
    right: -5px;
    font-size: 17px;
  }
  25% {
    /* transform: scale(0.5); */
    /* left: 5px; */
    right: -10px;
    font-size: 18px;
  }
  50% {
    /* transform: scale(1); */
    /* right: -5px;        */
    right: -15px;
    font-size: 19px;
  }
  75% {
    /* transform: scale(0.5); */
    right: -20px;
  }
  100% {
    right: -25px;
    font-size: 20px;
  }
}

/* Match & Blog */
.grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 113px 0;
  column-gap: 24px;
}
/* Left Aside Button */
.buttons {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 312px;
  background-color: #161616;
  padding: 15px 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.button {
  width: 252px;
  height: 64px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #e8e8e8;
}
.button a {
  text-decoration: none;
  color: #161616;
}
.filled {
  background-image: linear-gradient(to left, #dd0000, #f2d535);
  color: white;
}

/* Right Aside Blog */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}
.blog {
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.blog img {
  width: 100%;
}
.blog-detail {
  padding: 20px;
}
.transfer-button a {
  text-decoration: none;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  height: 32px;
  width: 100px;
  padding: 4px 16px;
  border: 1px solid #161616;
  border-radius: 5px;
}
.blog-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 143px;
  height: 26px;
  color: rgba(22, 22, 22, 0.7);
  font-size: 16px;
}
.fa-regular {
  margin-right: 10px;
}

/* Footer */
.footer-container {
  width: 100%;
  height: 444px;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
}
.footer-headline {
  font-weight: 600;
  font-size: 30px;
  color: white;
}
.footer-headline h1 {
  margin-bottom: 50px;
  margin-top: 0;
}
hr {
  width: 80%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-menu {
  margin: 50px 0;
}
.footer-menu li {
  display: inline-block;
  list-style: none;
  text-align: center;
  vertical-align: middle;
  padding: 10px 24px;
}
.footer-menu li a {
  text-decoration: none;
  color: #b9b9b9;
  font-size: 16px;
}

/* upcoming match */
.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
}
.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53px 30px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.country-flag {
  display: flex;
  align-items: center;
}
.first-flag {
  padding-right: 22px;
}
.second-flag {
  padding-left: 22px;
}
.country-flag img {
  height: 56px;
  width: 93px;
}
.match-details {
  text-align: center;
}

/* Invisible for desktop */
.invisible {
  visibility: hidden;
}

/* media query */
/* animation for desktop except mobile */
@media screen and (min-width: 1023px) {
  /* animation */
  .link-button {
    transition: background-image 3s;
    animation: go-backward 3s ease-in-out infinite alternate;
    position: relative;
    background-image: linear-gradient(to right, #dd0000, #f2d535);
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* animation */
  .link-button {
    transition: background-image 3s;
    animation: go-backward 3s ease-in-out infinite alternate;
    position: relative;
    background-image: linear-gradient(to right, #dd0000, #f2d535);
  }
  .body-width {
    width: 90%;
    margin-top: 0;
  }

  /* header media query */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .left-header {
    margin: 0;
    width: 80%;
    padding: 25px 0px 25px 25px;
  }
  .left-header h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
  }
  .left-header p {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .right-header {
    width: 90%;
  }

  .right-header img {
    width: 332px;
    height: 340px;
  }

  /* Match & Blog */
  /* Match */
  .grid-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    height: 100px;
    column-gap: 15px;
    background-color: white;
    padding: 7px 0px;
    border-radius: 0;
  }

  /* Blog */
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
  }

  /* footer */
  .footer-menu {
    display: inline-block;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    padding: 0 24px;
    width: 90%;
  }
  .footer-menu li a {
    font-size: 16px;
  }

  /* Match Query */
  .matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin: 0;
  }
  .match {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 53px 30px;
  }
  .country-flag img {
    width: 100px;
    height: 100px;
  }
  .match-details {
    font-size: 12px;
  }

  /* Visible Button */
  .invisible {
    visibility: visible;
  }
  .invisible {
    display: inline-block;
    text-align: center;
    margin: 20px 10px 0px 10px;
    padding: 5px 10px;
  }
  .link-invisible {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #dd0000, #f2d535);
    padding: 8px 16px;
    border-radius: 5px;
  }
}

/* Mobile Media query */
@media screen and (max-width: 767px) {
  .body-width {
    width: 90%;
    margin-top: 0;
  }

  /* header */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .left-header {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .left-header h1 {
    font-size: 22px;
  }
  .left-header p {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .right-header img {
    width: 233px;
    height: 245px;
  }

  /* match & blog */
  .grid-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    background-color: white;
    row-gap: 10px;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* footer */
  .footer-container {
    height: 100%;
  }
  .footer-headline {
    font-size: 22px;
    margin-top: 55px;
    margin-bottom: 0;
  }
  .footer-menu {
    margin: 0;
  }
  .footer-menu ol {
    list-style: none;
    padding: 10px 0;
  }
  .footer-menu li {
    display: block;
    text-align: center;
  }
  /* Up coming Match query  */
  .matches {
    display: flex;
    flex-direction: column;
  }

  /* animation after hover */
  /* .link-button:hover {
    animation: go-backward 3s ease-in-out infinite alternate;
    position: relative;
  }
  .link-button:hover {
    background-image: linear-gradient(to right, #dd0000, #f2d535);
  } */
}
